.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem;
}

.divTable{
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}

.divTableCell,
.divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}

.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}

.divTableCell:nth-child(1n) {
  background-color: gainsboro;
}

.container {
  display: flex;
  opacity: 0.9;
  background-color: #99aaab;
  justify-content: center;
}

img {
  height: 16em;
}

body {
  background-color: #404300;
  /* background-image: url("https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); */
  background-size: 150%;
}

.pokemonRollBtn {
  background: url(./assets/images/pokeball.png) no-repeat;
  background-position: center center;
  background-size: 50px 40px;
  border: 2px solid black;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  transition: 1s;
  margin: 20px;
}

.inputForm {
  margin: 28px;
}

.randomSwitchBtn {
  margin: 8px;
  width: 250px;
  border-radius: 5px;
  margin: 8px auto;
  transition: 1s;
}

.button {
  background-color: gainsboro;
  border-color: lightgoldenrodyellow;
}

.button:hover {
  background-color: lightgoldenrodyellow;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer .pokemonTier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonRollBtn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.pokemonTierBtn {
  width: 3rem;
  height: 2rem;
}

@media(max-width: 768px) {
  .content {
    margin-bottom: 0;
  }

  .container {
    flex-direction: column;
  }

  .divTable {
    max-width: none;
    justify-content: center;
    margin-bottom: 2rem;
  }

  img {
    width: 16rem;
    align-self: center;
  }
}