.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  width: 226px;
  margin-bottom: 1px;
  padding: 1rem;
  margin: auto;
}

.stats div {
  display: flex;
}

.divTableCell,
.divTableHead {
  border: 1px solid lightgrey;
  display: table-cell;
  padding: 3px 0;
  width: 8rem;
}

.container h1 {
  color: #333;
  margin: 0.5rem 0;
  text-align: center;
}

.shiny {
  color: goldenrod !important;
  letter-spacing: 0.5rem;
}

.dex-container {
  margin: 4px;
}

.dex-container img {
  margin: 0 auto;
  height: 8rem;
}
